{% extends 'main/layout.html' %}

{% block title %}
    <title>Личный кабинет</title>
{% endblock %}

{% block navmenu %}
    <header class="header">
        <div class="conteiner">
            <div class="header__inner">
                <div class="header__logo">
                    <a class="nav__link" href="{% url 'home' %}">EasyShortener</a>
                </div>
                <nav class="nav">
{#                    <a class="nav__link" href="{% url 'home' %}">Главная</a>#}
                    <a class="nav__link" href="http://127.0.0.1:8000/admin/">Django admin(superuser)</a>
                    <a class="nav__link" href="http://127.0.0.1:8000/accounts/logout/">Выйти</a>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}


{% block content %}
    <div class="h2">
        <h2>Сокращённые ссылки пользователя</h2>
    </div>
    <div class="layer"> {# *** в теге допускается указывать несколько классов для стилей #}
        {% if auth_user_links %}
            <div>
                <ol>
                    {% for link in auth_user_links %}
                        <li><a href="{{ link.original_url }}">{{ link.original_url }}</a> -----> <br>
                            <a href="{{ link.original_url }}">{{ request.get_host }}/{{ link.short_url }}</a>
                        </li>
                        {#{{ request.META.HTTP_HOST }} даёт тот же результат что {{ request.get_host }}#}
                    {% endfor %}
                </ol>
            </div>
        {% else %}
            <p>У вас ещё нет сокращённых ссылок. Воспользуйтесь нашим <a href="{% url 'home' %}">сервисом</a></p>
        {% endif %}
    </div>
{% endblock %}







