@import url('https://fonts.googleapis.com/css?family=Caveat:700');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    background: #000000 url("../img/924460.jpg") no-repeat center; /* цвет фона веб-страницы */
    margin: 0; /* убираем отступы */
    height: 100%; /* высота страницы */
    background-size: cover; /* фон на всю страницу */
}


html {
    height: 100%; /* добавил, чтобы фон был на всю страницу */
}


.h2 {
    color: #bdbdbd;
    text-align: center; /* расположение по центру */
    transform: translate3d(0, 125px, 0); /* расположение */
}


/*conteiner*/
.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*header*/
.header {
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 10px;
}


.header__logo {
    font-size: 50px;
    font-weight: 700;
    color: #fcdb27;
    font-family: 'Montserrat', sans-serif;
}


/*nav*/
.nav {
    font-size: 14px; /* размер шрифта */
    text-transform: uppercase; /* прииведение шрифта к верхнему регистру */
}


/*nav__link*/
.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    color: #fcdb27;
    text-decoration: none; /* Убирает подчеркивание текста */
    /*transition: color 0.1s linear;*/
    transition: transform .3s ease;
    position: relative;
    right: -55px; /* Положение от правого края */
}


.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;

}


.nav__link:hover {
    color: #fff; /* Ссылка меняет цвет при наведении */
    transform: scale(1.05); /* Ссылка увеличивается при наведении */
}


/*.nav__link:hover:after,*/
/* Подчеркивание при наведении на ссылку*/
.nav__link.activ:after {
    opacity: 1;
}


.nav__link.activ {
    color: #4ac1f7;
}


/* header__inner */
.header__inner { /* Расположение навигации вверху */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Button*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    /*font-style: 14px;*/
    font-weight: 700;
    text-decoration: none;
    transform: translate3d(0, -160px, 0); /* расположение кнопки */

    transition: background .1s linear, color .1s linear;
}


.btn:hover {
    background-color: #fff;
    color: #333;
}


/* форма */
* {
    box-sizing: border-box;
}


section {
    /* Эта строчка задает черный цвет фона формы (0,0,0) и степень прозрачности, значение (.6) делает ее полупрозрачной.*/
    background: rgba(0, 0, 0, .65); /* цвет фона формы */
    border-radius: 5px; /* закругление углов формы */
    left: 50%;
    padding: 50px; /* объём формы */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 400px;
}


/* заголовок формы */
section h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px; /* размер шрифта заголовка формы */
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}


section div {
    position: relative;
}


/* поле ввода */
section div input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; /* размер шрифта в поле ввода */
    letter-spacing: 1px; /* расстояние между символов в поле ввода */
    margin-bottom: 20px;
    padding: 7px 85px 7px 0px; /* размер полосы под вводом */
    /*transform: translate3d(80px, 25px, 0);*/
    outline: none;
}


/* подпись поля для ввода */
section div label {
    color: #fff;
    font-size: 22px;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    transition: .5s;
}


/* увеличение текста при наведении */
section div input:focus ~ label,
section div input:valid ~ label {
    color: #e6b333;
    font-size: 22px; /* увеличение текста при наведении */
    left: 0;
    top: -22px;
}


/* параметры кнопки */
section div button[type="submit"] {
    background: rgba(230, 179, 51, 0.80); /* цвет кнопки в форме */
    border: none; /* окантовка кнопки */
    border-radius: 4px; /* закругление формы кнопки */
    color: #fff;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 5px 20px; /* размер кнопки в форме */
    outline: none;
    transform: translate3d(80px, 25px, 0); /* расположение кнопки */
    transition: background .1s linear, color .1s linear;
}


section div button:hover {
    color: #fff;
    background: #e6b333;
}


/* блок в личном кабинете */
.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 1000px; /* Ширина блока */
    height: 580px; /* Высота блока */
    padding: 35px; /* Поля вокруг текста */
    border: solid 1px #555555; /* Параметры рамки */
    color: #bdbdbd; /* Цвет текста в блоке */
    background: rgba(0, 0, 0, .80); /* цвет фона формы */
    border-radius: 5px;
    left: 50%;
    top: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
}


.layer h2 {
    color: #bdbdbd;
    font-family: 'Roboto', sans-serif;
    font-size: 30px; /* размер шрифта заголовка формы */
    margin: 0 0 30px;
    padding: 5px; /* расположение заголовка формы */
    text-align: center;
}


.layer li {
    color: #fcdb27;
    transform: translate3d(40px, 30px, 0); /* расположение */
}


.layer a {
    text-decoration: none;
    color: #bdbdbd;
}


.layer p {
    color: #bdbdbd;
    text-align: center; /* расположение по центру */
    margin-top: 30px;
}

.link {
    text-decoration: none;
    color: #bdbdbd;
    text-align: center; /* расположение по центру */
    transform: translate3d(0, 600px, 0); /* расположение */
    font-size: 22px;
}


.link:hover {
    color: #fff; /* Ссылка меняет цвет при наведении */
}


*********


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
.section{
    position: absolute;/*абсолютное позиционирование*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(bg2.jpg);/*фоновая картинка*/
    background-size: cover;/*растянуть на весь экран сохраняя пропорции*/
    background-position-x: center;/*позиция картинки по горизонтали в центре*/
    animation: animateBg 50s linear infinite;/*свойства анимации*/
}


 @keyframes animateBg{
    0%,100%
    {
        transform: scale(0);
    }
    50%
    {
        transform: scale(1);
    }
}


  span{
    position: absolute;
    width: 4px;/*ширина звезды*/
    height: 4px;/*высота звезды*/
    background: #fff;/*цвет звезды*/
    border-radius: 50%;/*закоугление углов*/
    box-shadow: 0 0 0 4px rgba(255,255,255,.1),
        0 0 0 8px rgba(255,255,255,.1),
        0 0 20px rgba(255,255,255,1);
    animation: animate 3s linear infinite;
}


   span:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}


   @keyframes animate{
    0%
    {
        transform: rotate(-45deg) translateX(0);
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(-45deg) translateX(-1000px);
        opacity: 0;
    }
}


    span:nth-child(1){
    top: 0px;/*верхняя координата*/
    right: 0px;/*правая координата*/
    animation-delay: 0;/*задержка анимации*/
    animation-duration: 1s;/*длительность анимации*/
}
span:nth-child(2){
    top: 0px;
    right: 80px;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
span:nth-child(3){
    top: 80px;
    right: 0px;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
span:nth-child(4){
    top: 0px;
    right: 180px;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
span:nth-child(5){
    top: 0px;
    right: 400px;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6){
    top: 0px;
    right: 600px;
    animation-delay: 1s;
    animation-duration: 3s;
}
span:nth-child(7){
    top: 300px;
    right: 0px;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
span:nth-child(8){
    top: 0px;
    right: 700px;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
span:nth-child(9){
    top: 0px;
    right: 1000px;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
span:nth-child(10){
    top: 0px;
    right: 450px;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}